* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: whitesmoke;
  background-color: rgb(34, 34, 34);
}

.App {
  margin :auto;
  width: 50%;
  padding: 10px;
  display: flex;
  justify-content: center;
}
